summary {
    display: list-item;

    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;

    margin-bottom: .5rem;

    color: #32325d;
}

h1,
.h1 {
    font-size: 1.625rem;
}

@media (max-width: 1200px) {

    h1,
    .h1 {
        font-size: calc(1.2875rem + .45vw);
    }
}

h2,
.h2 {
    font-size: 1.25rem;
}

h3,
.h3 {
    font-size: 1.0625rem;
}

h4,
.h4 {
    font-size: .9375rem;
}

h5,
.h5 {
    font-size: 12px;
}

h6,
.h6 {
    font-size: .625rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.display-1 {
    font-size: 3.3rem;
    font-weight: 600;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .display-1 {
        font-size: calc(1.455rem + 2.46vw);
    }
}

.display-2 {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .display-2 {
        font-size: calc(1.4rem + 1.8vw);
    }
}

.display-3 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .display-3 {
        font-size: calc(1.34375rem + 1.125vw);
    }
}

.display-4 {
    font-size: 1.6275rem;
    font-weight: 600;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .display-4 {
        font-size: calc(1.28775rem + .453vw);
    }
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;

    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

small,
.small {
    font-size: 80%;
    font-weight: 400;
}

mark,
.mark {
    padding: .2em;

    background-color: #fcf8e3;
}

.list-unstyled {
    padding-left: 0;

    list-style: none;
}

.list-inline {
    padding-left: 0;

    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.initialism {
    font-size: 90%;

    text-transform: uppercase;
}

.blockquote {
    font-size: 1.25rem;

    margin-bottom: 1rem;
}

.blockquote-footer {
    font-size: 80%;

    display: block;

    color: #8898aa;
}

.blockquote-footer::before {
    content: '\2014\00A0';
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    max-width: 100%;
    height: auto;
    padding: .25rem;

    border: 1px solid #dee2e6;
    border-radius: .375rem;
    background-color: #f8f9fe;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

.figure {
    display: inline-block;
}

.figure-img {
    line-height: 1;

    margin-bottom: .5rem;
}

.figure-caption {
    font-size: 90%;

    color: #8898aa;
}

code {
    font-size: 87.5%;

    word-wrap: break-word;

    color: #f3a4b5;
}

a>code {
    color: inherit;
}

kbd {
    font-size: 87.5%;

    padding: .2rem .4rem;

    color: #fff;
    border-radius: .25rem;
    background-color: #212529;
    box-shadow: inset 0 -.1rem 0 rgba(0, 0, 0, .25);
}

kbd kbd {
    font-size: 100%;
    font-weight: 600;

    padding: 0;

    box-shadow: none;
}

pre {
    font-size: 87.5%;

    display: block;

    color: #212529;
}

pre code {
    font-size: inherit;

    word-break: normal;

    color: inherit;
}

.pre-scrollable {
    overflow-y: scroll;

    max-height: 340px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1140px;
    }
}

.row {
    /* display: flex; */

    margin-right: -15px;
    margin-left: -15px;

    flex-wrap: wrap;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    max-width: 100%;

    flex-basis: 0;
    flex-grow: 1;
}

.row-cols-1>* {
    max-width: 100%;

    flex: 0 0 100%;
}

.row-cols-2>* {
    max-width: 50%;

    flex: 0 0 50%;
}

.row-cols-3>* {
    max-width: 33.33333%;

    flex: 0 0 33.33333%;
}

.row-cols-4>* {
    max-width: 25%;

    flex: 0 0 25%;
}

.row-cols-5>* {
    max-width: 20%;

    flex: 0 0 20%;
}

.row-cols-6>* {
    max-width: 16.66667%;

    flex: 0 0 16.66667%;
}

.col-auto {
    width: auto;
    max-width: 100%;

    flex: 0 0 auto;
}

.col-1 {
    max-width: 8.33333%;

    flex: 0 0 8.33333%;
}

.col-2 {
    max-width: 16.66667%;

    flex: 0 0 16.66667%;
}

.col-3 {
    max-width: 25%;

    flex: 0 0 25%;
}

.col-4 {
    max-width: 33.33333%;

    flex: 0 0 33.33333%;
}

.col-5 {
    max-width: 41.66667%;

    flex: 0 0 41.66667%;
}

.col-6 {
    max-width: 50%;

    flex: 0 0 50%;
}

.col-7 {
    max-width: 58.33333%;

    flex: 0 0 58.33333%;
}

.col-8 {
    max-width: 66.66667%;

    flex: 0 0 66.66667%;
}

.col-9 {
    max-width: 75%;

    flex: 0 0 75%;
}

.col-10 {
    max-width: 83.33333%;

    flex: 0 0 83.33333%;
}

.col-11 {
    max-width: 91.66667%;

    flex: 0 0 91.66667%;
}

.col-12 {
    max-width: 100%;

    flex: 0 0 100%;
}

.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.offset-5 {
    margin-left: 41.66667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33333%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333%;
}

.offset-11 {
    margin-left: 91.66667%;
}

@media (min-width: 576px) {
    .col-sm {
        max-width: 100%;

        flex-basis: 0;
        flex-grow: 1;
    }

    .row-cols-sm-1>* {
        max-width: 100%;

        flex: 0 0 100%;
    }

    .row-cols-sm-2>* {
        max-width: 50%;

        flex: 0 0 50%;
    }

    .row-cols-sm-3>* {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }

    .row-cols-sm-4>* {
        max-width: 25%;

        flex: 0 0 25%;
    }

    .row-cols-sm-5>* {
        max-width: 20%;

        flex: 0 0 20%;
    }

    .row-cols-sm-6>* {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }

    .col-sm-auto {
        width: auto;
        max-width: 100%;

        flex: 0 0 auto;
    }

    .col-sm-1 {
        max-width: 8.33333%;

        flex: 0 0 8.33333%;
    }

    .col-sm-2 {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }

    .col-sm-3 {
        max-width: 25%;

        flex: 0 0 25%;
    }

    .col-sm-4 {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }

    .col-sm-5 {
        max-width: 41.66667%;

        flex: 0 0 41.66667%;
    }

    .col-sm-6 {
        max-width: 50%;

        flex: 0 0 50%;
    }

    .col-sm-7 {
        max-width: 58.33333%;

        flex: 0 0 58.33333%;
    }

    .col-sm-8 {
        max-width: 66.66667%;

        flex: 0 0 66.66667%;
    }

    .col-sm-9 {
        max-width: 75%;

        flex: 0 0 75%;
    }

    .col-sm-10 {
        max-width: 83.33333%;

        flex: 0 0 83.33333%;
    }

    .col-sm-11 {
        max-width: 91.66667%;

        flex: 0 0 91.66667%;
    }

    .col-sm-12 {
        max-width: 100%;

        flex: 0 0 100%;
    }

    .order-sm-first {
        order: -1;
    }

    .order-sm-last {
        order: 13;
    }

    .order-sm-0 {
        order: 0;
    }

    .order-sm-1 {
        order: 1;
    }

    .order-sm-2 {
        order: 2;
    }

    .order-sm-3 {
        order: 3;
    }

    .order-sm-4 {
        order: 4;
    }

    .order-sm-5 {
        order: 5;
    }

    .order-sm-6 {
        order: 6;
    }

    .order-sm-7 {
        order: 7;
    }

    .order-sm-8 {
        order: 8;
    }

    .order-sm-9 {
        order: 9;
    }

    .order-sm-10 {
        order: 10;
    }

    .order-sm-11 {
        order: 11;
    }

    .order-sm-12 {
        order: 12;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.33333%;
    }

    .offset-sm-2 {
        margin-left: 16.66667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.33333%;
    }

    .offset-sm-5 {
        margin-left: 41.66667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.33333%;
    }

    .offset-sm-8 {
        margin-left: 66.66667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.33333%;
    }

    .offset-sm-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        max-width: 100%;

        flex-basis: 0;
        flex-grow: 1;
    }

    .row-cols-md-1>* {
        max-width: 100%;

        flex: 0 0 100%;
    }

    .row-cols-md-2>* {
        max-width: 50%;

        flex: 0 0 50%;
    }

    .row-cols-md-3>* {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }

    .row-cols-md-4>* {
        max-width: 25%;

        flex: 0 0 25%;
    }

    .row-cols-md-5>* {
        max-width: 20%;

        flex: 0 0 20%;
    }

    .row-cols-md-6>* {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }

    .col-md-auto {
        width: auto;
        max-width: 100%;

        flex: 0 0 auto;
    }

    .col-md-1 {
        max-width: 8.33333%;

        flex: 0 0 8.33333%;
    }

    .col-md-2 {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }

    .col-md-3 {
        max-width: 25%;

        flex: 0 0 25%;
    }

    .col-md-4 {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }

    .col-md-5 {
        max-width: 41.66667%;

        flex: 0 0 41.66667%;
    }

    .col-md-6 {
        max-width: 50%;

        flex: 0 0 50%;
    }

    .col-md-7 {
        max-width: 58.33333%;

        flex: 0 0 58.33333%;
    }

    .col-md-8 {
        max-width: 66.66667%;

        flex: 0 0 66.66667%;
    }

    .col-md-9 {
        max-width: 75%;

        flex: 0 0 75%;
    }

    .col-md-10 {
        max-width: 83.33333%;

        flex: 0 0 83.33333%;
    }

    .col-md-11 {
        max-width: 91.66667%;

        flex: 0 0 91.66667%;
    }

    .col-md-12 {
        max-width: 100%;

        flex: 0 0 100%;
    }

    .order-md-first {
        order: -1;
    }

    .order-md-last {
        order: 13;
    }

    .order-md-0 {
        order: 0;
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }

    .order-md-3 {
        order: 3;
    }

    .order-md-4 {
        order: 4;
    }

    .order-md-5 {
        order: 5;
    }

    .order-md-6 {
        order: 6;
    }

    .order-md-7 {
        order: 7;
    }

    .order-md-8 {
        order: 8;
    }

    .order-md-9 {
        order: 9;
    }

    .order-md-10 {
        order: 10;
    }

    .order-md-11 {
        order: 11;
    }

    .order-md-12 {
        order: 12;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.33333%;
    }

    .offset-md-2 {
        margin-left: 16.66667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33333%;
    }

    .offset-md-5 {
        margin-left: 41.66667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.33333%;
    }

    .offset-md-8 {
        margin-left: 66.66667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.33333%;
    }

    .offset-md-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        max-width: 100%;

        flex-basis: 0;
        flex-grow: 1;
    }

    .row-cols-lg-1>* {
        max-width: 100%;

        flex: 0 0 100%;
    }

    .row-cols-lg-2>* {
        max-width: 50%;

        flex: 0 0 50%;
    }

    .row-cols-lg-3>* {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }

    .row-cols-lg-4>* {
        max-width: 25%;

        flex: 0 0 25%;
    }

    .row-cols-lg-5>* {
        max-width: 20%;

        flex: 0 0 20%;
    }

    .row-cols-lg-6>* {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }

    .col-lg-auto {
        width: auto;
        max-width: 100%;

        flex: 0 0 auto;
    }

    .col-lg-1 {
        max-width: 8.33333%;

        flex: 0 0 8.33333%;
    }

    .col-lg-2 {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }

    .col-lg-3 {
        max-width: 25%;

        flex: 0 0 25%;
    }

    .col-lg-4 {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }

    .col-lg-5 {
        max-width: 41.66667%;

        flex: 0 0 41.66667%;
    }

    .col-lg-6 {
        max-width: 50%;

        flex: 0 0 50%;
    }

    .col-lg-7 {
        max-width: 58.33333%;

        flex: 0 0 58.33333%;
    }

    .col-lg-8 {
        max-width: 66.66667%;

        flex: 0 0 66.66667%;
    }

    .col-lg-9 {
        max-width: 75%;

        flex: 0 0 75%;
    }

    .col-lg-10 {
        max-width: 83.33333%;

        flex: 0 0 83.33333%;
    }

    .col-lg-11 {
        max-width: 91.66667%;

        flex: 0 0 91.66667%;
    }

    .col-lg-12 {
        max-width: 100%;

        flex: 0 0 100%;
    }

    .order-lg-first {
        order: -1;
    }

    .order-lg-last {
        order: 13;
    }

    .order-lg-0 {
        order: 0;
    }

    .order-lg-1 {
        order: 1;
    }

    .order-lg-2 {
        order: 2;
    }

    .order-lg-3 {
        order: 3;
    }

    .order-lg-4 {
        order: 4;
    }

    .order-lg-5 {
        order: 5;
    }

    .order-lg-6 {
        order: 6;
    }

    .order-lg-7 {
        order: 7;
    }

    .order-lg-8 {
        order: 8;
    }

    .order-lg-9 {
        order: 9;
    }

    .order-lg-10 {
        order: 10;
    }

    .order-lg-11 {
        order: 11;
    }

    .order-lg-12 {
        order: 12;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.33333%;
    }

    .offset-lg-2 {
        margin-left: 16.66667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.33333%;
    }

    .offset-lg-5 {
        margin-left: 41.66667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.33333%;
    }

    .offset-lg-8 {
        margin-left: 66.66667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.33333%;
    }

    .offset-lg-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        max-width: 100%;

        flex-basis: 0;
        flex-grow: 1;
    }

    .row-cols-xl-1>* {
        max-width: 100%;

        flex: 0 0 100%;
    }

    .row-cols-xl-2>* {
        max-width: 50%;

        flex: 0 0 50%;
    }

    .row-cols-xl-3>* {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }

    .row-cols-xl-4>* {
        max-width: 25%;

        flex: 0 0 25%;
    }

    .row-cols-xl-5>* {
        max-width: 20%;

        flex: 0 0 20%;
    }

    .row-cols-xl-6>* {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }

    .col-xl-auto {
        width: auto;
        max-width: 100%;

        flex: 0 0 auto;
    }

    .col-xl-1 {
        max-width: 8.33333%;

        flex: 0 0 8.33333%;
    }

    .col-xl-2 {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }

    .col-xl-3 {
        max-width: 25%;

        flex: 0 0 25%;
    }

    .col-xl-4 {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }

    .col-xl-5 {
        max-width: 41.66667%;

        flex: 0 0 41.66667%;
    }

    .col-xl-6 {
        max-width: 50%;

        flex: 0 0 50%;
    }

    .col-xl-7 {
        max-width: 58.33333%;

        flex: 0 0 58.33333%;
    }

    .col-xl-8 {
        max-width: 66.66667%;

        flex: 0 0 66.66667%;
    }

    .col-xl-9 {
        max-width: 75%;

        flex: 0 0 75%;
    }

    .col-xl-10 {
        max-width: 83.33333%;

        flex: 0 0 83.33333%;
    }

    .col-xl-11 {
        max-width: 91.66667%;

        flex: 0 0 91.66667%;
    }

    .col-xl-12 {
        max-width: 100%;

        flex: 0 0 100%;
    }

    .order-xl-first {
        order: -1;
    }

    .order-xl-last {
        order: 13;
    }

    .order-xl-0 {
        order: 0;
    }

    .order-xl-1 {
        order: 1;
    }

    .order-xl-2 {
        order: 2;
    }

    .order-xl-3 {
        order: 3;
    }

    .order-xl-4 {
        order: 4;
    }

    .order-xl-5 {
        order: 5;
    }

    .order-xl-6 {
        order: 6;
    }

    .order-xl-7 {
        order: 7;
    }

    .order-xl-8 {
        order: 8;
    }

    .order-xl-9 {
        order: 9;
    }

    .order-xl-10 {
        order: 10;
    }

    .order-xl-11 {
        order: 11;
    }

    .order-xl-12 {
        order: 12;
    }

    .offset-xl-0 {
        margin-left: 0;
    }

    .offset-xl-1 {
        margin-left: 8.33333%;
    }

    .offset-xl-2 {
        margin-left: 16.66667%;
    }

    .offset-xl-3 {
        margin-left: 25%;
    }

    .offset-xl-4 {
        margin-left: 33.33333%;
    }

    .offset-xl-5 {
        margin-left: 41.66667%;
    }

    .offset-xl-6 {
        margin-left: 50%;
    }

    .offset-xl-7 {
        margin-left: 58.33333%;
    }

    .offset-xl-8 {
        margin-left: 66.66667%;
    }

    .offset-xl-9 {
        margin-left: 75%;
    }

    .offset-xl-10 {
        margin-left: 83.33333%;
    }

    .offset-xl-11 {
        margin-left: 91.66667%;
    }
}


.card {
    margin-bottom: 30px;

    border: 0;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
}

.card-translucent {
    background-color: rgba(18, 91, 152, .08);
}

.card-deck .card {
    margin-bottom: 30px;
}

.card.shadow {
    border: 0 !important;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }
}

.card-lift--hover:hover {
    transition: all .15s ease;
    transform: translateY(-20px);
}

@media (prefers-reduced-motion: reduce) {
    .card-lift--hover:hover {
        transition: none;
    }
}

.card-blockquote {
    position: relative;

    padding: 2rem;
}

.card-blockquote .svg-bg {
    position: absolute;
    top: -94px;
    left: 0;

    display: block;

    width: 100%;
    height: 95px;
}

.card-profile-image {
    position: relative;
}

.card-profile-image img {
    position: absolute;
    left: 50%;

    max-width: 140px;

    transition: all .15s ease;
    transform: translate(-50%, -50%) scale(1);

    border: 3px solid #fff;
    border-radius: .375rem;
}

.card-profile-image img:hover {
    transform: translate(-50%, -50%) scale(1.03);
}

.card-profile-stats {
    padding: 1rem 0;
}

.card-profile-stats>div {
    margin-right: 1rem;
    padding: .875rem;

    text-align: center;
}

.card-profile-stats>div:last-child {
    margin-right: 0;
}

.card-profile-stats>div .heading {
    font-size: 1.1rem;
    font-weight: bold;

    display: block;
}

.card-profile-stats>div .description {
    font-size: .875rem;

    color: #adb5bd;
}

.card-profile-actions {
    padding: .875rem;
}

.card-stats .card-body {
    padding: 1rem 1.5rem;
    background-color: ghostwhite;
    border: 2px solid white;
    border-radius: 5px;
}



.icon {
    width: 3rem;
    height: 3rem;
}

.icon i,
.icon svg {
    font-size: 2.25rem;
}

.icon+.icon-text {
    width: calc(100% - 3rem - 1);
    padding-left: 1rem;
}

.icon-xl {
    width: 5rem;
    height: 5rem;
}

.icon-xl i,
.icon-xl svg {
    font-size: 4.25rem;
}

.icon-xl+.icon-text {
    width: calc(100% - 5rem - 1);
}

.icon-lg {
    width: 4rem;
    height: 4rem;
}

.icon-lg i,
.icon-lg svg {
    font-size: 3.25rem;
}

.icon-lg+.icon-text {
    width: calc(100% - $icon-size-lg - 1);
}

.icon-sm {
    width: 2rem;
    height: 2rem;
}

.icon-sm i,
.icon-sm svg {
    font-size: 1.25rem;
}

.icon-sm+.icon-text {
    width: calc(100% - $icon-size-sm - 1);
}

.icon-xs {
    width: 1.25rem;
    height: 1.25rem;
}

.icon-xs i,
.icon-xs svg {
    font-size: .5rem;
}

.icon-xs+.icon-text {
    width: calc(100% - $icon-size-xs - 1);
}

.icon-shape {
    display: inline-flex;

    padding: 12px;

    text-align: center;

    border-radius: 50%;

    align-items: center;
    justify-content: center;
}

.icon-shape i,
.icon-shape svg {
    font-size: 1.25rem;
}

.icon-shape.icon-lg i,
.icon-shape.icon-lg svg {
    font-size: 1.625rem;
}

.icon-shape.icon-sm i,
.icon-shape.icon-sm svg {
    font-size: .875rem;
}

.icon-shape.icon-xs i,
.icon-shape.icon-xs svg {
    font-size: .6rem;
}

.icon-shape svg {
    width: 30px;
    height: 30px;
}

.icon-shape-primary {
    color: #2643e9;
    background-color: rgba(138, 152, 235, .5);
}

.icon-shape-secondary {
    color: #cfe3f1;
    background-color: rgba(255, 255, 255, .5);
}

.icon-shape-success {
    color: #1aae6f;
    background-color: rgba(84, 218, 161, .5);
}

.icon-shape-info {
    color: #03acca;
    background-color: rgba(65, 215, 242, .5);
}

.icon-shape-warning {
    color: #ff3709;
    background-color: rgba(252, 140, 114, .5);
}

.icon-shape-danger {
    color: #f80031;
    background-color: rgba(247, 103, 131, .5);
}

.icon-shape-light {
    color: #879cb0;
    background-color: rgba(201, 207, 212, .5);
}

.icon-shape-dark {
    color: #090c0e;
    background-color: rgba(56, 63, 69, .5);
}

.icon-shape-default {
    color: #091428;
    background-color: rgba(35, 65, 116, .5);
}

.icon-shape-white {
    color: #e8e3e3;
    background-color: rgba(255, 255, 255, .5);
}

.icon-shape-neutral {
    color: #e8e3e3;
    background-color: rgba(255, 255, 255, .5);
}

.icon-shape-darker {
    color: black;
    background-color: rgba(26, 26, 26, .5);
}
